main{
    background-color: lightgrey;
}
.products{
    display: flex;
}
.catalog-section{
    background-color: yellow;
    min-width: fit-content;
    width: 20%;
}
.catalog-section > p{
    font-size: 35px;
    padding: 15px;
}
.catalog-block > p:hover:active{
    background-color: red;
}
.catalog-block > p:hover{
    background-color: whitesmoke;
}
.catalog-block > li{
    padding: 0 15px;
}
.catalog-block > li:hover{
    border: 2px solid purple;
}
/*стили блока продуктов*/
.products-section{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.product-item{
    border: lightgrey solid 2px;
    max-width: 200px;
    min-width: 100px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.product-item:hover{
    border-color: red;
}
.product-item > img{
    width: 100%;
}
.product-item > form{
    display: flex;
    padding-top: 5px;
    width: 100%;
    /*background: purple;*/
}
.product-item > form > button{
    /*bottom: 0;*/
    margin: auto auto 0 auto;
    /*background-color: red;*/
}
.category-name{
    font-size: 25px;
}